
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/static/Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/static/Jost-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('./assets/fonts/static/Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'AmharicFont'; 
  src: url('./assets/Amharic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}